.hero {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  align-items: start;
  background-image: url('../../../public/images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 76px;
}

.hero-left {
  max-width: 490px;
  padding: 100px 0;
}

.cta-banner__text {
  color: var(--color-text-inverted);
  font-size: var(--text-2xl);
  padding-top: 2.5rem;
}

.cta-banner__link {
  color: var(--color-text-inverted);
}

.hero-right {
  /* min-width: 582px; */
  padding: 108px 150px 190px 16px;
  display: flex;
  flex-direction: column;
  background-image: url(../../../public/images/hero-decor.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 90px right -20px;
}

.hero-heading {
  font-size: var(--text-6xl);
  line-height: var(--leading-none);
  color: var(--color-primary);
  margin: var(--spacing-lg) 0 40px;
}

.hero-date {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-loose);
  color: var(--color-primary);
}

.hero-subtitle {
  font-size: var(--text-2xl);
  line-height: var(--leading-normal);
  color: var(--color-text-inverted);
}

.hero-right__discount {
  font-size: 200px;
  line-height: var(--leading-tight);
  text-align: center;
  z-index: 2;
}

.hero-right__title {
  font-size: var(--text-5xl);
  line-height: var(--leading-none);
  text-align: center;
  max-width: 100%;
  z-index: 2;
}

.hero-right__text {
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-loose);
  padding-bottom: var(--spacing-xl);
  text-align: right;
  z-index: 2;
}

.hero-right__btn {
  max-width: 378px;
  padding: var(--spacing-sm) var(--spacing-3xl);
  margin: 0 0 0 var(--spacing-2xl);
  z-index: 2;
}

@media (max-width: 1156px) {
  .hero-right {
    max-width: 400px;
    padding: 5em 100px 150px 0;
    background-size: contain;
    background-position: center 22%;
  }
  .hero-right__discount {
    font-size: 9rem;
  }
  .hero-right__title {
    font-size: var(--text-4xl);
  }
  .hero-right__text {
    font-size: var(--text-3xl);
  }
  .hero {
    gap: var(--spacing-md);
  }
  .hero-right__btn {
    margin: 0;
  }
  .hero-left {
    padding: 90px 0 90px var(--spacing-md);
  }
}

@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/images/bg-mobile.webp');
    min-height: 100dvh;
    padding-bottom: var(--spacing-3xl);
  }
  .hero-left {
    padding: var(--spacing-xl) var(--spacing-sm) var(--spacing-sm);
  }
  .hero-right {
    max-width: 400px;
    padding: var(--spacing-md);
    background-size: 285px 260px;
    background-position: left 20px top;
  }
  .hero-right__text {
    text-align: center;
    padding-bottom: var(--spacing-lg);
  }
}
